// Placeholders, marked by %, are called with the @extend command.
// They are used for recurring styles where no variable needs to be passed
// (that's what @mixins are for).

//Clearfix

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Center elements

%center {
  margin: auto;
}

// Border-radius

%border-radius {
  border-radius: 5px;
}

// Spacing

%space-after {
  margin-bottom: 15px;
}

// Grid styles

%col {
  padding: 15px;
  margin-top: 10px;
  @extend %border-radius;
  width: 420px;
}

%btn-style {
  border: none;
  padding: 15px;
  margin-bottom: 1em;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .9em;
  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  @include mq(med) {
    margin: 0px 30px;
    padding: 15px 50px;
  }
}

%col-style {
  border: none;
  padding: 10px;
  margin-bottom: 30px;
}
