
// Logo styles

.img--logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  max-width: 300px;
  // @include mq("med") {
  //
  // }
}

// Nav styles

.nav {
  list-style-type: none;
  @extend %center;
  @include flexy($dir: column, $align: center);

  .nav__item {
    margin: 15px 15px;

  }
  a {
    text-decoration: none;
    color: $color-text-base;
    background-color: $white;
    padding: 10px 130px;
  }
  a:hover {
    background-color: $color-prim;
    color: $color-text-highlight;
    @extend %border-radius;
  }
  &::after {
    margin-bottom: 200px;
  }
}
