// Web Fonts

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Font styles

.headline--primary {
  color: $color-prim;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1.2;
}

.headline--secondary {
  font-weight: lighter;
  color: lighten($color-text-base, 10%);
  margin-bottom: 20px;
}

.link {
  color: $color-sec;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: lighten($color-sec, 10%);
  }
}

.blockquote {
  border-left: 7px solid $color-prim;
  @extend %border-radius;
  padding-left: 15px;
  font-size: 1.2em;
  font-style: italic;

}
